.band-card{
  background-color: white;
  margin: 30px 0;
  padding: 10px;
  border: 3px solid lightgray;
  text-align: center;
  width: 35em;
  margin: auto;
  margin-bottom: 2%;
}

.band-promo-image-index{
  height: 300px;
  width: 400px;

}

button.create-booker {
  text-align: center;
  font-family: Amatic SC;
  font-size:  40px;
  background-color: black;
  border: 3px solid lightblue;
}
button.create-band {
  text-align: center;
  font-family: Amatic SC;
  font-size:  40px;
  background-color: black;
  border: 3px solid lightblue;
}

.create-booker-and-band-div {
  text-align: center;
  margin: 0px;
}

.band-title {
  text-align: center;
  font-family: Amatic SC;
  font-style: bold;
  font-size: 60px;
}

.create-event-button {
  text-align: right;
  font-family: Amatic SC;
  font-size:  40px;
  background-color: black;
  border: 3px solid lightblue;
}

p.band-bio {
  text-align: center;
  font-family: Work Sans;
}
