.game-show-page {
  margin-bottom: 30px;
  text-align: center;
  border: 3px solid lightgray;
  width: 35em;
  margin: auto;
  background-color: white;
}

.game-show-page-title{
  margin-top: 20px;
}

.game-attribute-title {
  text-align: center;
}
