.band-show-page {
  margin-bottom: 30px;
  text-align: center;
  border: 2px solid lightgray;
  width: 35em;
  margin: auto;
  margin-top: 6px;
  background-color: #fafafa;
  box-shadow: 8px 5px 10px #dce7e4;
  border-radius: 7px;
}

.band-show-page-title{
  margin-top: 20px;
  font-family: Work Sans;
}

.band-attribute-title {
  text-align: center;
}

.band-attribute{
  margin-bottom: 7px;
  text-align: center;
}

.concert-details {
  text-align: center;
}
