.band-show-page {
  margin-bottom: 30px;
  text-align: center;
  border: 3px solid lightgray;
  width: 35em;
  margin: auto;
  background-color: white;
}

.band-show-page-title{
  margin-top: 20px;
  font-family: Work Sans;
}

.band-attribute-title {
  text-align: center;
}

.band-attribute{
  margin: 0;
  text-align: center;
}

.concert-details {
  text-align: center;
}
