.profile_photo {

  border-radius: 20%;
  padding-top: 8px;

}


ul {
  list-style: none;
}

form{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #d6c73e;
  font-family: Work Sans;
}



#title-link{
  padding:0;
}

ul.menu > li > a, #title-link {
  color: rgb(152, 180, 115);
}

ul.menu > li > a:hover, #title-link:hover {
  color: rgb(76, 104, 55);
}

form{
  margin: 0px;
  padding: 0px;
}

.flash.flash-notice {
  text-align: center;
  color: rgb(194, 77, 62);
  font-family: Amatic SC;
  font-style: bold;
  font-size: 30px;
}

.form {
  width: 45%;
  margin: auto;
}

.form-title {
  text-align: center;
  font-family: Amatic SC;
  font-style: bold;
  font-size: 60px;
}

input.button {
  margin: 20px;
  border-radius: 5px;
}

button.button {
  border-radius: 5px;
  outline-color: chocolate;
  outline-width: medium;
}

.button-group {
  text-align: center;
}
